node_modules/
dist/
.swc/
*.db
*.apk
*.zip
*.rar
*.png
*.jpg
.DS_Store
.env
jdk17/
jdk21/
android-sdk/
frontend/android/.gradle/
frontend/android/build/
frontend/android/app/build/
frontend/android/capacitor-android/build/
frontend/android/capacitor-cordova-android-plugins/build/
nul
