node_modules/
dist/
.swc/
*.db
*.apk
*.zip
*.rar
*.tar.gz
# 不排除前端资源图片
.DS_Store
.env
jdk17/
jdk21/
android-sdk/
frontend/android/.gradle/
frontend/android/build/
frontend/android/app/build/
frontend/android/capacitor-android/build/
frontend/android/capacitor-cordova-android-plugins/build/
nul
# 截图和大文件
png/
map_*.png
deploy-package.tar.gz
